{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bonplan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bonPlan.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ bonPlan.type }}</td>
            </tr>
            <tr>
                <th>Offre</th>
                <td>{{ bonPlan.offre }}</td>
            </tr>
            <tr>
                <th>Date_deb</th>
                <td>{% if bonPlan.datedeb %}{{ bonPlan.datedeb|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{% if bonPlan.datefin %}{{ bonPlan.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bonplan_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bonplan_edit', { 'id': bonPlan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
