{% extends '@App/admin/indexadmin.html.twig' %}

{% block container %}
    <div class="container">
        <h2>
            Liste des commandes
        </h2>
        <br>
        <div class="row">
            <p class="form-control col-md-4 bg-info">
                <strong> Nombre totale des commandes</strong> {{ commandes|length }}
            </p>

            <p class="form-control col-md-4 bg-danger">
                <strong> Nombre totale des commandes non payees :</strong> {{ nbrNonPayee }}
            </p>

            <p class="form-control col-md-4 bg-success">
                <strong> Nombre totale des commandes payees</strong> {{ nbrPayee }}
            </p>
        </div>
        <br>


                <div class="container-table-cart">
                    <div class="wrap-table-shopping-cart">
                        <table class="table">
                            <tr class="table-head">
                                <th class="column-1">Adresse livraison</th>
                                <th class="column-2">Methode Paiement</th>
                                <th class="column-3">Methode livraison</th>
                                <th class="column-4">Date </th>
                                <th class="column-5">Nombre d'articles</th>
                                <th class="column-6">Acheteur</th>
                                <th class="column-7">Etat</th>
                            </tr>
                            {% if commandes %}
                            {% for r in commandes %}
                                <tr class="table-row table-active">
                                    <td class="column-1">{{ r.adress_liv }} Etoiles</td>
                                    <td class="column-2">{{ r.meth_paiment }}</td>
                                    <td class="column-3">{{ r.methLivraison }}</td>
                                    <td class="column-4">{{ r.date|date }}</td>
                                    <td class="column-5">{{ r.panier.userRecipeAssociations|length }}</td>
                                    <td class="column-6">{{ r.acheteur.nom }}</td>
                                    <td class="column-7">{% if r.etat %}
                                                        Payee
                                {% else %}
                                    Non Payee
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>


    </div>
{% endblock %}