<!DOCTYPE html>
<html lang="en">
<head>


    {% block myjavascript %}


        <script type="text/javascript" src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>

        <script type="text/javascript">

            var numcm;

            function getComments() {

                $.ajax({
                    url: "{{ path('getComments') }}",
                    type: "POST",
                    data: {
                        id:{{ article.id }}
                    },

                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        console.log(response);

                        numcm = response.nbrc;

                        $("#commentsul").fadeOut(500);


                        setTimeout(function () {
                            $("#commentsul").html('');

                            for (i = 0; i < response.nbrc; i++) {


                                $html = "\n" +
                                    "                    <div class=\"comment-item bo3 \">\n" +
                                    "\n" +
                                    "                        <div class=\"box w-size29\" >\n" +
                                    "\n" +
                                    "                            <div class=\"circle\">\n" +
                                    "                                <img class=\"circular\" src=\"" + response[i].img_user + "\" >\n" +
                                    "\n" +
                                    "                            </div>\n" +
                                    "\n" +
                                    "\n" +
                                    "                            <div class=\"box3\">\n" +
                                    "\n" +
                                    "\n" +
                                    "                                <div class=\"box2 \">\n" +
                                    "\n" +
                                    "\n" +
                                    "                                    <div class=\"nom\">\n" +
                                    "                                    <span class=\"s-text18\">\n" +
                                    "                                         " + response[i].user_name +
                                    "                                    </span>\n" +
                                    "                                    </div>\n" +
                                    "\n" +
                                    "                                    <div class=\"starr\">\n";


                                for (j = 5; j > 0; j--) {
                                    if ((j) == response[i].rate) {
                                        $html +=
                                            "<input type=\"checkbox\" id=\"st" + j + "\" value=\"" + j + "\" disabled checked='checked' />\n " +
                                            "<label for=\"st" + j + "\"></label>\n";

                                    }
                                    else {
                                        $html +=
                                            "<input type=\"checkbox\" id=\"st" + j + "\" value=\"" + j + "\" disabled  />\n " +
                                            "<label for=\"st" + j + "\"></label>\n";
                                    }
                                }

                                /*  "                                        <input type=\"checkbox\" id=\"st1\" value=\"1\" disabled/>\n" +
                                  "                                        <label for=\"st1\"></label>\n" +
                                  "                                        <input type=\"checkbox\" id=\"st2\" value=\"2\" disabled/>\n" +
                                  "                                        <label for=\"st2\"></label>\n" +
                                  "                                        <input type=\"checkbox\" id=\"st3\" value=\"3\" disabled checked='checked' />\n" +
                                  "                                        <label for=\"st3\"></label>\n" +
                                  "                                        <input type=\"checkbox\" id=\"st4\" value=\"4\" disabled/>\n" +
                                  "                                        <label for=\"st4\"></label>\n" +
                                  "                                        <input type=\"checkbox\" id=\"st5\" value=\"5\" disabled/>\n" +
                                  "                                        <label for=\"st5\"></label>\n" ;
                                   */


                                $html += "                                    </div>\n" +
                                    "\n" +
                                    "                                    <div class=\"end\" >\n" +
                                    "                                    <span >\n" +
                                    "                                     " + response[i].date +
                                    "                                    </span>\n" +
                                    "                                    </div>\n" +
                                    "\n" +
                                    "\n" +
                                    "\n" +
                                    "                                    <div class=\"size\">\n" +
                                    "                                        <input type=\"image\" src=\"{{ asset('images/icons/option_menu.png') }}\" name=\"test\" value=\":\" class=\"field\" readonly=\"readonly\" />\n" +
                                    "                                        <ul class=\"list\">\n";
                                //                "                                            <li>Signaler</li>" ;

                                if (response[i].mine) {
                                    $html +=
                                        "                                            <li onclick=delComments(\"?id=" + response[i].id + "\")>Supprimer</li>\n";
                                }
                                else {
                                    $html +=
                                        "                                            <li>Signaler</li>\n";
                                }

                                $html +=
                                    "                                        </ul>\n" +
                                    "                                    </div>\n" +
                                    "\n" +
                                    "\n" +
                                    "                                </div>\n" +
                                    "\n" +
                                    "                                <span class=\"commentt\">\n" +
                                    "                                " + response[i].comment +
                                    "                                </span>\n" +
                                    "\n" +
                                    "                            </div>\n" +
                                    "\n" +
                                    "                        </div>\n" +
                                    "\n" +
                                    "                    </div>";


                                $("#commentsul").append($html);

                            }


                            $("#numcmt").html("Avis (" + numcm + ")");

                            /*      $(".comment-item").each(function(i) {
                                      $(".comment-item").fadeIn(1000*i);
                                  });*/

                            $('#commentsul').fadeIn(1000);


                            $(function () {
                                $('.size').styleddropdown();
                            });

                            (function ($) {
                                $.fn.styleddropdown = function () {
                                    return this.each(function () {
                                        var obj = $(this);
                                        obj.find('.field').click(function () { //onclick event, 'list' fadein
                                            obj.find('.list').fadeIn(400);

                                            $(document).keyup(function (event) { //keypress event, fadeout on 'escape'
                                                if (event.keyCode == 27) {
                                                    obj.find('.list').fadeOut(400);
                                                }
                                            });

                                            obj.find('.list').hover(function () {
                                                },
                                                function () {
                                                    $(this).fadeOut(400);
                                                });

                                        });

                                        obj.find('.list li').click(function () { //onclick event, change field value with selected 'list' item and fadeout 'list'
                                            obj.find('.field')
                                                .val($(this).html())
                                                .css({
                                                    'background': '#fff',
                                                    'color': '#333'
                                                });
                                            obj.find('.list').fadeOut(400);
                                        });
                                    });
                                };
                            })(jQuery);

                        }, 400);


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown)
                    }
                });

            }


            function delComments(com_id) {

                $ur = "{{ path('delComment') }}" + com_id;
                $ur.replace(/<a\b[^>]*>(.*?)<\/a>/i, "");

                $.ajax({
                    url: $ur,
                    type: "POST",
                    data: {},

                    beforeSend: function () {

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        console.log(response);

                        getComments();


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown)
                    }
                });

            }


            function comment() {

                var cmt = $("#cmt").val();


                var rate = 0;

                var selected = $('input[name=star]:checked').val();

                if (selected != null)
                    rate = selected;

                //        alert(rate);


                $.ajax({
                    url: "{{ path('addComment') }}",
                    type: "POST",
                    data: {
                        id:{{ article.id }},
                        comment: cmt,
                        rate: rate
                    },

                    beforeSend: function () {
                        $("#cmt").val('');

                    },
                    complete: function () {

                    },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        console.log(response);

                        /*   $html ="<li class=\"comment-item bo3 \">\n" +
                               "\n" +
                               "                        <div class=\"circle\">\n" +
                               "                            <img class=\"circular\" src=\""+response.img_user+"\" >\n" +
                               "                        </div>\n" +
                               "\n" +
                               "                        <div >\n" +
                               "                            <span class=\"s-text18\">\n" +
                               "                                \n" +response.user_name+
                               "                            </span> <br>\n" +
                               "\n" +
                               "                            <span class=\"\">\n" +
                               "                                " +response.comment+
                               "                            </span>\n" +
                               "                        </div>\n" +
                               "                    </li>";

                           $("#commentsul").html($html + $("#commentsul").html());

                           numcm++;

                           $("#numcmt").html("Avis ("+(numcm)+")"); */


                        getComments();


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown)
                    }
                });

            }


            function getOpt2() {


                $("#coldiv").hide();
                $("#optdiv").hide();


                {#{% for opt in article.option %}#}

                {#$html = "";#}

                {#{% if opt.type == 'Couleur' %}#}

                {#$html =#}
                {#"<option>{{ opt.nom }}</option>";#}

                {#$("#selcol").append($html);#}


                {#$("#coldiv").show();#}



                {#{% else %}#}

                {#$html =#}
                {#'<option>{{ opt.nom }}</option>';#}

                {#$("#selopt").append($html);#}

                {#$("#optdiv").show();#}

                {#{% endif %}#}

                {#{% endfor %}#}


            }


            $(document).ready(function () {
                first = true;
                getOpt2();
                getComments();
            });


        </script>


    {% endblock %}


    <title>Product Detail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/themify/themify-icons.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/elegant-font/html-css/style.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/slick/slick.css') }}">


    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css'>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body class="animsition">

<!-- Header -->
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
                <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <span class="topbar-child1">
							Livraison gratuite pour les produits qui coutent plus de 300DT
				</span>

            <div class="topbar-child2">
					<span class="topbar-email">
						soukmadina@gmail.com
					</span>

                <div class="topbar-language rs1-select2">
                    <select class="selection-1" name="time">
                        <option>FR</option>
                        <option>EN</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="wrap_header">
            <!-- Logo -->
            <a href="{{ path('accueil') }}" class="logo">
                <!--img src="/images/icons/logo.png" alt="IMG-LOGO"-->
                <div class="clip-text clip-text_twelve clip-text--cover">Souk Madina</div>
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="{{ path('accueil') }}">Accueil</a>
                            <ul class="sub_menu">
                                <li><a href="{{ path('accueil') }}">Homepage V1</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="{{ path('allarticles') }}">Shopping</a>
                        </li>

                        <li class="sale-noti">
                            <a href="product.html">Bon Plans</a>
                        </li>

                        <li>
                            <a href="{{ path('allvendeurs') }}">Nos Boutiques</a>
                        </li>

                        <li>
                            <a href="{{ path('blogs') }}">Blog</a>
                        </li>

                        <li>
                            <a href="about.html">A Propos</a>
                        </li>

                        <li>
                            <a href="{{ path('contact') }}">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">

                {% if user.id == '' %}


                    <ul class="main_menu2">
                        <li class="nav__item ">
                            <a href="{{ path('fos_user_security_login') }}" class="header-wrapicon1 dis-block nav__link">
                                <img src="{{ asset('images/icons/icon-header-01.png') }}" class="header-icon1" alt="ICON">
                            </a>

                            <ul class="sub_menu2 nav__sub  absolute  rounded">
                                <li class="p-t-5 p-l-20 p-r-20 p-b-3 ">





                                    <div class="text-center p-b-5">
                                        <h4><b>Log In</b></h4></div>
                                    <form id="ajax-login-form" action="#" method="post" role="form" autocomplete="off">
                                        <div class="form-group ">
                                            <label for="username">Username</label>
                                            <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                                        </div>

                                        <div class=" ">
                                            <label for="password">Mot de passse</label>
                                            <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                        </div>

                                        <div class="form-group p-t-10">
                                            <div class="row p-l-20">
                                                <div class="col-xs-7 p-t-8">
                                                    <input type="checkbox" tabindex="3" name="remember" id="remember" class="p-t-5">
                                                    <label for="remember"> Se souvenir de moi </label>
                                                </div>
                                                <div class="col-xs-5 pull-right p-l-10">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Mot de passe oubliée ?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="bottom text-center ">
                                        <a href="#"> <b> Pas de compte ? </b></a>
                                    </div>

                                    <h5 class="text-center p-t-25">ou se connecter avec</h5>
                                    <div class="login-icons">
                                        <ul>
                                            <li><a href="#" onclick="fb_login();" class="facebook "><i class="fa fa-facebook " style="width: 50%"></i></a></li>
                                        </ul>
                                    </div>


                                </li>
                            </ul>

                        </li>
                    </ul>




                {% else %}

                    {% if user.photoProf == '' %}



                        <ul class="main_menu2">
                            <li class="nav__item ">

                                <a href="{{ path('profile') }}" class="header-wrapicon1 dis-block nav__link">
                                    <img src="{{ asset('images/icons/icon-header-01.png') }}" class="header-icon1" alt="ICON">
                                </a>


                                <div class=" sub_menu2 nav__sub  absolute  rounded">
                                    <ul class="nav__sub-list list-reset ">
                                        <li class="nav__sub-item">
                                            <a href="#" class="flex items-center no-underline text-grey-dark p-4 hover:text-white hover:bg-grey-darkest">
                                                <p class="h-8 w-8 bg-grey rounded-full mr-2"></p>
                                                <div class="nav__sub-menu">
                                                    <h3 class="text-base font-bold">Modifier compte</h3>
                                                    <p class="text-sm ">Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </a>
                                        </li>


                                        <li class="nav__sub-item">
                                            <a href="#" class="flex items-center no-underline text-grey-dark p-4 hover:text-white hover:bg-grey-darkest">
                                                <p class="h-8 w-8 bg-grey rounded-full mr-2"></p>
                                                <div class="nav__sub-menu">
                                                    <h3 class="text-base font-bold">Consulter liste de souhaits</h3>
                                                    <p class="text-sm ">Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </a>
                                        </li>


                                    </ul>
                                </div>

                            </li>
                        </ul>


                    {% else %}








                        <ul class="main_menu2">
                            <li class="nav__item ">

                                <a href="{{ path('profile') }}" class="header-wrapicon1 dis-block nav__link">
                                    <div class="circle-header">
                                        <img src="{{ user.photoProf }}" class="header-icon1 circle-header " alt="ICON">
                                    </div>
                                </a>


                                <div class=" sub_menu2 nav__sub  absolute  rounded">
                                    <ul class="nav__sub-list list-reset ">
                                        <li class="nav__sub-item">
                                            <a href="#" class="flex items-center no-underline text-grey-dark p-4 hover:text-white hover:bg-grey-darkest">
                                                <p class="h-8 w-8 bg-grey rounded-full mr-2"></p>
                                                <div class="nav__sub-menu">
                                                    <h3 class="text-base font-bold">Modifier compte</h3>
                                                    <p class="text-sm ">Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </a>
                                        </li>


                                        <li class="nav__sub-item">
                                            <a href="#" class="flex items-center no-underline text-grey-dark p-4 hover:text-white hover:bg-grey-darkest">
                                                <p class="h-8 w-8 bg-grey rounded-full mr-2"></p>
                                                <div class="nav__sub-menu">
                                                    <h3 class="text-base font-bold">Consulter liste de souhaits</h3>
                                                    <p class="text-sm ">Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </a>
                                        </li>


                                    </ul>
                                </div>

                            </li>
                        </ul>


                    {% endif %}


                {% endif %}

                <span class="linedivide1"></span>

                <div class="header-wrapicon2">
                    <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti" id="nbitems"></span>
                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem" id="panier">

                        </ul>

                        <div class="header-cart-total" id="total">

                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="{{ path('panier_index') }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Voir panier
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="{{ path('accueil') }}" class="logo">
            <!--img src="{{ asset('images/icons/logo.png') }}" alt="IMG-LOGO"-->
            <i>Souk Elmdina</i>
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                {% if user.photoProf == '' %}
                    <a href="{{ path('fos_user_security_login') }}" class="header-wrapicon1 dis-block">
                        <img src="{{ asset('images/icons/icon-header-01.png') }}" class="header-icon1" alt="ICON">
                    </a>
                {% else %}
                    <a href="#" class="header-wrapicon1 dis-block">
                        <div class="circle-header">
                            <img src="{{ user.photoProf }}" class="header-icon1 circle-header " alt="ICON">
                        </div>
                    </a>
                {% endif %}

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
											1 x 19.00DT
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
											1 x $39.00
										</span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="/images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
											1 x 17.00DT
										</span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: 75.00DT
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Livraison gratuite pour les produits qui coutent plus de 300DT
						</span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
							<span class="topbar-email">
								soukmadina@gmail.com
							</span>

                        <div class="topbar-language rs1-select2">
                            <select class="selection-1" name="time">
                                <option>FR</option>
                                <option>EN</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ path('accueil') }}">Accueil</a>
                    <ul class="sub-menu">
                        <li><a href="{{ path('accueil') }}">Homepage V1</a></li>
                    </ul>
                    <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ path('allarticles') }}">Shopping</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="product.html">Bon plans</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ path('allvendeurs') }}">Nos Boutiques</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ path('blogs') }}">Blog</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="about.html">A propos</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
    <a href="{{ path('accueil') }}" class="s-text16">
        Accueil
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>


    <a href="#" class="s-text16">
        {% for cat in article.categorie %}
            {{ cat.nom }} <i>.</i>
        {% endfor %}
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <span class="s-text17">
			{{ article.nom }}
    </span>
</div>

<!-- Product Detail -->
<div class="container bgwhite p-t-10 p-b-50">
    <div class="flex-w flex-sb">


        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>


                <div class="slick3">

                    {% for img in article.images %}

                        <div class="item-slick3" data-thumb="/{{ img.url }}">
                            <div class="wrap-pic-w">
                                <img class="IMG-PRODUCT1" src="/{{ img.url }}" alt="IMG-PRODUCT">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="w-size14 p-t-30 respon5">
            <h4 id="nom" class="product-detail-name m-text16 p-b-13">
                {{ article.nom }}
            </h4>

            <span id="prix" class="m-text17">
					{{ article.prix }}DT
            </span>

            <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 m-t-15 active-dropdown-content">

                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Description
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-20 p-b-23">
                    <p class="s-text8">
                        {{ article.description }}
                    </p>
                </div>
            </div>


            <!--  -->
            <div class="p-t-33 p-b-30">


                <div id="coldiv" class="flex-m flex-w">
                    <div class="s-text15 w-size15 t-center">
                        Choisir une couleur
                    </div>

                    <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                        <select id="selcol" class="selection-2" name="color">
                            <option>Choisir une option</option>
                        </select>
                    </div>
                </div>
                <br>


                <div id="optdiv" class="flex-m flex-w p-b-10">
                    <div class="s-text15 w-size15 t-center">
                        Choisir une option
                    </div>

                    <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                        <select id="selopt" class="selection-2" name="size">
                            <option>Choisir une option</option>
                        </select>
                    </div>
                </div>


                <div class="flex-r-m flex-w p-t-10 p-l-40">
                    <div class="w-size16 flex-m flex-w">
                        <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                            <button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
                                <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                            </button>

                            <input class="size8 m-text18 t-center num-product" type="number" name="num-product"
                                   value="1">

                            <button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
                                <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="btn-addcart-product-detail size10 trans-0-4 m-t-10 m-b-10">
                            <!-- Button -->
                            <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick="addToPanier({{ article.id }})">
                                Ajouter au panier
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-b-45">
                <span class="s-text8 m-r-35">Ref: {{ article.ref }}</span> <br>
                <span class="s-text8">Categories:
                    {% for cat in article.categorie %}
                        {{ cat.nom }}<i>.</i>
                    {% endfor %}
                </span>
            </div>

            <!--  -->


            <div class="wrap-dropdown-content bo6 p-t-14 p-b-14">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Information Additionnelle
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <p class="s-text8">
                        Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed
                        velit. Proin gravida arcu nisl, a dignissim mauris placerat
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>


<section id="comments" class="bgwhite p-t-5 p-b-28 p-r-175 p-l-175">

    <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
        <h4 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">

            <i id="numcmt">Avis (0)</i>

            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h4>

        <div class="dropdown-content dis-none p-t-15 p-b-0">

            <div class="w-size29 p-t-20 p-l-2 p-r-2 respon3 p-b-25">

                <div class="effect1 w-size29   ">
                    <input id="cmt" class=" w-size29 p-b-8" type="text" placeholder="Ecrire un commentaire">
                    <span class="effect1-line"></span>
                </div>

                <div style="float: right;" class="w-size2 p-t-20 ">
                    <!-- Button -->
                    <button id="addcmt" onclick="comment()"
                            class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4 ">
                        Commenter
                    </button>
                </div>

                <div class="stars">
                    <form>
                        <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
                        <label class="star star-1" for="star-1"></label>
                    </form>
                </div>

            </div>


            <div class="p-b-0 p-l-15  ">


                <div id="commentsul">


                    <div class="comment-item bo3 ">

                        <div class="box w-size29">

                            <div class="circle">
                                <img class="circular" src="{{ asset('images/icons/logo.png') }}">

                            </div>


                            <div class="box3">


                                <div class="box2 ">


                                    <div class="nom">
                                    <span class="s-text18">
                                        some random asshole
                                    </span>
                                    </div>

                                    <div class="starr">
                                        <input type="checkbox" id="st1" value="1" disabled/>
                                        <label for="st1"></label>
                                        <input type="checkbox" id="st2" value="2" disabled/>
                                        <label for="st2"></label>
                                        <input type="checkbox" id="st3" value="3" disabled checked='checked'/>
                                        <label for="st3"></label>
                                        <input type="checkbox" id="st4" value="4" disabled/>
                                        <label for="st4"></label>
                                        <input type="checkbox" id="st5" value="5" disabled/>
                                        <label for="st5"></label>
                                    </div>

                                    <div class="end">
                                    <span>
                                        15 h
                                    </span>
                                    </div>


                                    <div class="size">
                                        <input type="image" src="{{ asset('images/icons/option_menu.png') }}"
                                               name="test" value=":" class="field" readonly="readonly"/>
                                        <ul class="list">
                                            <li>Signaler</li>
                                            <li onclick=delComments("?id=29")>Supprimer</li>
                                        </ul>
                                    </div>


                                </div>

                                <span class="commentt">
                                    wazzup
                                </span>

                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>

</section>


<!-- Relate Product -->
<section class="relateproduct bgwhite p-t-45 p-b-138">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Related Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                            <img src="/images/item-02.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                Faza okhra
                            </a>

                            <span class="block2-price m-text6 p-r-5">
									75.00DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                            <img src="/images/item-03.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                Faza
                            </a>

                            <span class="block2-price m-text6 p-r-5">
									92.50DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                            <img src="/images/item-05.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                Some random thing
                            </a>

                            <span class="block2-price m-text6 p-r-5">
									165.90DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                            <img src="/images/item-07.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                Vase
                            </a>

                            <span class="block2-oldprice m-text7 p-r-5">
									29.50DT
								</span>

                            <span class="block2-newprice m-text8 p-r-5">
									15.90DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                            <img src="/images/item-02.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                3oud
                            </a>

                            <span class="block2-price m-text6 p-r-5">
									75.00DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                            <img src="/images/item-03.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                Something somenthing
                            </a>

                            <span class="block2-price m-text6 p-r-5">
									92.50DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                            <img src="/images/item-05.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                haja ghalia
                            </a>

                            <span class="block2-price m-text6 p-r-5">
									165.90DT
								</span>
                        </div>
                    </div>
                </div>

                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
                            <img src="/images/item-07.jpg" alt="IMG-PRODUCT">

                            <div class="block2-overlay trans-0-4">
                                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                </a>

                                <div class="block2-btn-addcart w-size1 trans-0-4">
                                    <!-- Button -->
                                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="block2-txt p-t-20">
                            <a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
                                Ekher faza bech nzid'ha
                            </a>

                            <span class="block2-oldprice m-text7 p-r-5">
									29.50DT
								</span>

                            <span class="block2-newprice m-text8 p-r-5">
									15.90DT
								</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
    <div class="flex-w p-b-90">
        <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                GET IN TOUCH
            </h4>

            <div>
                <p class="s-text7 w-size27">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                    (+1) 96 716 6879
                </p>

                <div class="flex-m p-t-30">
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
                    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                </div>
            </div>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Categories
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Men
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Women
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Dresses
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Sunglasses
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Links
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Search
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        About Us
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Contact Us
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Returns
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
            <h4 class="s-text12 p-b-30">
                Help
            </h4>

            <ul>
                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Track Order
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Returns
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        Shipping
                    </a>
                </li>

                <li class="p-b-9">
                    <a href="#" class="s-text7">
                        FAQs
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
            <h4 class="s-text12 p-b-30">
                Newsletter
            </h4>

            <form>
                <div class="effect1 w-size9">
                    <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>

                <div class="w-size2 p-t-20">
                    <!-- Button -->
                    <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                        Subscribe
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="t-center p-l-15 p-r-15">
        <a href="#">
            <img class="h-size2" src="/images/icons/paypal.png" alt="IMG-PAYPAL">
        </a>

        <a href="#">
            <img class="h-size2" src="/images/icons/visa.png" alt="IMG-VISA">
        </a>

        <a href="#">
            <img class="h-size2" src="/images/icons/mastercard.png" alt="IMG-MASTERCARD">
        </a>

        <a href="#">
            <img class="h-size2" src="/images/icons/express.png" alt="IMG-EXPRESS">
        </a>

        <a href="#">
            <img class="h-size2" src="/images/icons/discover.png" alt="IMG-DISCOVER">
        </a>

        <div class="t-center s-text8 p-t-20">
            Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o"
                                                                                  aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>


<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
<script type="text/javascript" src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('vendor/select2/select2.min.js') }}"></script>
<script type="text/javascript">
    $(".selection-1").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });

    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect2')
    });
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('vendor/slick/slick.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/slick-custom.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
<script type="text/javascript">
    $('.block2-btn-addcart').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });

    $('.block2-btn-addwishlist').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "Ajouter au panier !", "success");
        });
    });



    $(function () {
        $('.size').styleddropdown();
    });

    (function ($) {
        $.fn.styleddropdown = function () {
            return this.each(function () {
                var obj = $(this);
                obj.find('.field').click(function () { //onclick event, 'list' fadein
                    obj.find('.list').fadeIn(400);

                    $(document).keyup(function (event) { //keypress event, fadeout on 'escape'
                        if (event.keyCode == 27) {
                            obj.find('.list').fadeOut(400);
                        }
                    });

                    obj.find('.list').hover(function () {
                        },
                        function () {
                            $(this).fadeOut(400);
                        });

                });

                obj.find('.list li').click(function () { //onclick event, change field value with selected 'list' item and fadeout 'list'
                    obj.find('.field')
                        .val($(this).html())
                        .css({
                            'background': '#fff',
                            'color': '#333'
                        });
                    obj.find('.list').fadeOut(400);
                });
            });
        };
    })(jQuery);


</script>

<!--===============================================================================================-->
<script src="{{ asset('js/main.js') }}"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '{{ url('panierItems') }}',
            type: "GET",
            dataType: "json",
            async: true,
            success: function (d) {
                fillPanier(d);
            }
        });
    });

    function fillPanier(d) {
        d.total = 0;
        var output = "";
        d.forEach(function (e) {
            for (var i = 0; i < e.quantite; i++) {
                d.total += e.prix;
            }

            output += "<li class=\"header-cart-item\">\n" +
                "<div class=\"header-cart-item-img\">\n" +
                "<img src=\" {{ asset('images/item-cart-01.jpg') }} \" alt=\"IMG\">\n" +
                "</div>\n" +
                "<div class=\"header-cart-item-txt\">\n" +
                "<a href=\"#\" class=\"header-cart-item-name\">\n" +
                e.nom +
                "</a>\n" +
                "<span class=\"header-cart-item-info\">\n" +
                e.quantite + " * " + e.prix +
                "DT</span>\n" +
                "</div>\n" +
                "</li>";
        })
        console.log(d.total);

        $('#panier').html(output);
        $('#total').html("Total : " + d.total + " DT");
        $('#nbitems').html( d.length );
    }
    function addToPanier(data) {
        $.ajax({
            url: '{{ url('addToPanier') }}',
            type: "POST",
            dataType: "json",
            data: {
                "article_id": data
            },
            async: true,
            success: function (d) {

                if (d!=='failed'){
                    fillPanier(d);
                    swal('{{ article.nom }}', "est ajouté au panier !", "success");
                }else {
                    swal('{{ article.nom }}', "est epuisee", "warning");
                }
            }
        });
    }
</script>
</body>
</html>
